@font-face {
    font-family: Hacked;
    src: url('../fonts/hacked.ttf');
}

#logo {
    -fx-font-family: 'Hacked';
    -fx-font-size: 120px;
    -fx-alignment: center;
    -fx-text-fill: lightgray;
    -fx-effect: dropshadow(gaussian, darkcyan, 2, 1.0, 5, 5);
}

#main_menu {
    -fx-background-image: url("../img/background_tile2.jpg");
    -fx-background-repeat: repeat;
}

#main_menu_button {
    -fx-background-color:
            linear-gradient(darkcyan 0%, #232723 25%, #373837 75%, #757575 100%),
            linear-gradient(#020b02, #3a3a3a),
            linear-gradient(#b9b9b9 0%, #c2c2c2 20%, #afafaf 80%, #c8c8c8 100%),
            linear-gradient(lightcyan 0%, #dbdbdb 50%, #cacaca 51%, #d7d7d7 100%);
    -fx-background-insets: 0,1,4,5;
    -fx-background-radius: 9,8,5,4;
    -fx-padding: 15 30 15 30;
    -fx-font-family: "Hacked";
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
#main_menu_button Text {
    -fx-effect: dropshadow( one-pass-box , white , 0, 0.0 , 0 , 1 );
}